Repository The-Dark-Nights/front-end, pull requests merged in 2023-08, with the labels that each got.

#8 로드맵 만들기 페이지 제작
  css/makeRoadMap.css
  html/makeRoadMap.html
Labels: 🖼️Html&Css

#11 Feature/mypage
  css/common.css
  css/mypage.css
  css/post.css
  css/roadMap.css
  css/roadMapDetail.css
  html/mypage.html
  html/post.html
  html/roadMap.html
  html/roadMapDetail.html
  img/building.png
  img/phone.png
  img/siren.png
  img/users.png
  img/x.png
Labels: 🖼️Html&Css

#12 글 작성 페이지 제작
  css/writingPage.css
  html/writingPage.html
  img/export.png
  img/import.png
  img/left_arrow.png
Labels: 🖼️Html&Css

#16 글 작성 페이지 모달 추가
  css/writingPage.css
  html/writingPage.html
  img/completeIcon.png
Labels: 🖼️Html&Css

#21 "update"
  darknight/src/App.js
  darknight/src/css/adminlogin.css
  darknight/src/css/common.css
  darknight/src/css/main.css
  darknight/src/css/makeRoadMap.css
  darknight/src/css/mypage.css
  darknight/src/css/post.css
  darknight/src/css/postDetail.css
  darknight/src/css/roadMap.css
  darknight/src/css/roadMapDetail.css
  darknight/src/css/writingPage.css
  darknight/src/page/commondcomponent/postCard.js
  darknight/src/page/commondcomponent/roadMapCard.js
  darknight/src/page/layout/component/loginAfter/compnent/alarm/alarmList.js
  darknight/src/page/layout/component/loginAfter/compnent/alarm/alarmbell.js
  darknight/src/page/layout/header.js
  darknight/src/page/mainPage/MainPageIndex.js
  darknight/src/page/mainPage/common.css
  darknight/src/page/myPage/MyPageIndex.js
  darknight/src/page/myPage/component/followList/followLi.js
  darknight/src/page/postPage/postPageIndex.js
Labels: ✨ Feature, 🏗️ Refactoring, 🖼️Html&Css

#26 글 작성 페이지 마크다운 작성
  .gitignore
  darknight/.gitignore
  darknight/package-lock.json
  darknight/package.json
  darknight/public/img/completeIcon.png
  darknight/public/img/export.png
  darknight/public/img/import.png
  darknight/public/img/left_arrow.png
  darknight/public/img/localImage.png
  darknight/src/App.js
  darknight/src/css/writingPage.css
  darknight/src/page/writingPage/components/markdown.js
  darknight/src/page/writingPage/writingPage.js
  darknight/src/utils/insertTotextArea.js
  darknight/src/utils/onImagePasted.js
  package-lock.json
  package.json
Labels: ✨ Feature

#29 글 작성 페이지 버그 픽스 및 매핑
  darknight/package-lock.json
  darknight/package.json
  darknight/src/css/writingPage.css
  darknight/src/page/postPage/postPageIndex.js
  darknight/src/page/writingPage/components/markdown.js
  darknight/src/page/writingPage/writingPage.js
  darknight/src/route/path.js
  darknight/src/utils/onImagePasted.js
Labels: 🐞 BugFix, ✨ Feature

#41 Page/modulecss
  css/main.css
  css/mypage.css
  darknight/package-lock.json
  darknight/package.json
  darknight/src/App.js
  darknight/src/css/common.css
  darknight/src/page/commondcomponent/commnent.js
  darknight/src/page/commondcomponent/postCard.js
  darknight/src/page/commondcomponent/readReactflow.js
  darknight/src/page/commondcomponent/reportModal/reportModal.js
  darknight/src/page/commondcomponent/roadMapCard.js
  darknight/src/page/commondcomponent/sidemenu/sidemenu.js
  darknight/src/page/commondcomponent/sidemenu/sidemenuCard.js
  darknight/src/page/createRoadmap/component/downloadBtn.js
  darknight/src/page/createRoadmap/component/sidebar.js
  darknight/src/page/createRoadmap/createRoadmap.module.css
  darknight/src/page/createRoadmap/createRoadmapIndex.js
  darknight/src/page/layout/component/loginAfter/compnent/alarm/alarmbell.js
  darknight/src/page/layout/component/loginBefore/loginBefore.js
  darknight/src/page/mainPage/MainPageIndex.js
  darknight/src/page/mainPage/main.module.css
  darknight/src/page/myPage/MyPageIndex.js
  darknight/src/page/myPage/component/editModal/editModal.js
  darknight/src/page/myPage/component/followList/followLi.js
  darknight/src/page/myPage/mypage.module.css
  darknight/src/page/postDetailPage/postDetail.module.css
  darknight/src/page/postDetailPage/postDetailIndex.js
  darknight/src/page/postPage/post.module.css
  darknight/src/page/postPage/postPageIndex.js
  darknight/src/page/roadMapDetail/roadMapDetail.module.css
  darknight/src/page/roadMapDetail/roadMapDetailIndex.js
  darknight/src/page/roadMapPage/roadMap.module.css
  darknight/src/page/roadMapPage/roadMapPageIndex.js
  darknight/src/page/writingPage/components/markdown.js
  darknight/src/page/writingPage/writingPage.js
  darknight/src/page/writingPage/writingPage.module.css
  darknight/src/route/path.js
  darknight/src/utils/onImagePasted.js
Labels: 🏗️ Refactoring

#43 Page/writing page fix
  darknight/public/img/export.png
  darknight/public/img/import.png
  darknight/src/css/common.css
  darknight/src/page/layout/component/loginBefore/loginBefore.js
  darknight/src/page/writingPage/components/markdown.js
  darknight/src/page/writingPage/writingPage.js
  darknight/src/page/writingPage/writingPage.module.css
  darknight/src/utils/onImagePasted.js
Labels: 🐞 BugFix

#44 마크다운 버튼 이미지 호버 효과 픽스
  darknight/public/img/localImage.png
  darknight/public/localImage.svg
  darknight/src/css/common.css
  darknight/src/page/writingPage/components/markdown.js
  darknight/src/page/writingPage/writingPage.js
  darknight/src/page/writingPage/writingPage.module.css
Labels: 🐞 BugFix, 🖼️Html&Css

#48 사진 업로드 버튼 useRef 추가
  darknight/public/img/export.png
  darknight/public/img/import.png
  darknight/public/uploadImage.svg
  darknight/src/page/writingPage/components/markdown.js
  darknight/src/page/writingPage/writingPage.module.css
Labels: ✨ Feature

#50 Error/create road download
  darknight/src/App.js
  darknight/src/page/createRoadmap/component/downloadBtn.js
  darknight/src/page/createRoadmap/createRoadmapIndex.js
  darknight/src/page/layout/component/loginAfter/compnent/user/userMiniMenu.js
  darknight/src/page/myPage/MyPageIndex.js
  darknight/src/page/myPage/mypage.module.css
  darknight/src/route/routings.js
Labels: 🐞 BugFix
